/* Typography */

html {
	font-family: "Helvetica Neue", HelveticaNeue, "TeX Gyre Heros", TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arimo, Helvetica, Arial, sans-serif; 
    font-weight: 300;
}

@media (min-width: 576px) {
	html {
		font-size: 14px;
	}
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

@media (min-width: 992px) {
	html {
		font-size: 16px;
	}
}

@media (min-width: 1200px) {
	html {
		font-size: 16px;
	}
}

.icons-social i {
	margin-top: 0.5em;
	font-size: 5em;
}

/* Custom Styles */

p {
	margin-top: 0.7em;
	margin-bottom: 0.7em;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

main {
	display: flex;
	flex-direction: column;
	min-height: 90vh;
	justify-content: center;
	padding: 0 30px;
	text-align: left;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

main>.intro {
	font-size: 3.5em;
	font-weight: 600;
}

main>.tagline {
	font-size: 1.0em;
	margin-top: -1.0rem;
}

main>.about {
	font-size: 1.1rem;
	line-height: 1.5;
}

p.about-intro {
	font-weight: lighter;
	margin-bottom:1.5em;
}

p.desc {
	margin-top: 1.2em;
	margin-bottom: 1.2em;
}

.icons-social {
	display: flex;
	justify-content: center;
	align-items: center;
}

.icons-social i {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.icons-social a {
	text-decoration: none;
}

footer {
	padding: 10px;
	text-align: center;
	font-size: 0.8em;
}
